.App {
  font-family: sans-serif;
  text-align: center;
  margin: 10px;
}

.header {
  width: 90%;
  border-radius: 10px;
  height: 100px;
  display: inline-block;
  background-color: rgb(4, 138, 120);
  color: #ffffff;
}

.filtros {
  width: 90%;
  border-radius: 10px;
  height: 50px;
  display: inline-block;
  background-color: rgba(127, 148, 5, 0.63);
  color: #ffffff;
}
.hoteles {
  padding-top: 40px;
  width: 100%;
  border-radius: 10px;
  height: 50px;
  display: inline-block;
  color: #000000;
}
.item {
  padding: 4px;
  display: inline-table;
  width: 25%;
  margin-bottom: 30px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #aaa;
}
img {
  width: 100%;
  height: 30%;
  border-radius: 10px;
}

.btn {
  background-color: rgb(4, 138, 120);
  color: #ffffff;
  width: 100%;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
}
.bothElements {
  display: flex;
  width: 100%;
}

.percentage {
  width: 50%;
}
.activeColor {
  color: rgb(4, 138, 120);
}
.inactiveColor {
  color: #6ebb9f9a;
}
.size{
  font-size: 14px;
}
select {
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  line-height: 1.3;
  padding: 0.4em 1.4em 0.3em 0.8em;
  width: 200px;
  margin: 10px 10px;
  border: 1px solid #aaa;
  border-radius: 0.3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
input {
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  line-height: 1.3;
  padding: 0.4em 1.4em 0.3em 0.8em;
  width: 200px;
  border: 1px solid #aaa;
  border-radius: 0.3em;
  margin: 10px 10px;
}
.description {
  text-align: left;
  padding: 15px;
}
